<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">

    <h5>My motivation and goals are global impact, social contribution, and leadership</h5>

    <p>
      I like working in a team building software that requires minimal human intervention and make lives easier.
    </p>

    <p>Experience summary: I have worked in a couple of startups and bigger corporates as a generalist full stack heavily involved in high load backend.</p>
    <p>I did research of Push-Based system for Molecular Simulation Data Analysis with massive GPU parallelization.</p>

</div><!--//summary-->
</section><!--//section-->
