<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">

    <p>
      Passionate about building products with tangible business value. Always looking for high output performance as a team player.
      <br /><br />
      Experience summary: I have worked in a few startups and big companies mainly exposed to distributed backend systems. Pretty familiar with mobile and front end ecosystem, have built and  adopted customers on personal mobile apps and full stack projects. My research for graduate school was massive parallelization of push-based system for molecular simulation data analysis with GPU computation.
      <br /><br />
      I speak English, Russian, and Kyrgyz. I like rock climbing and cycling.
    </p>

</div><!--//summary-->
</section><!--//section-->
