<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I like building awesome amazing automated neat software systems that require little manual intervention that make lives easier.</p>
    <p>Experience summary: I have worked in couple of startup companies as well as bigger enterprise size organizations mainly exposed to backend,
      mostly REST services development, but spent time for mobile apps and front end, too.
      Familiar with modern software development life-cycles for highly loaded distributed systems with continuous integration and delivery practices. </p>
    <p>My research for graduate school was Push-Based system for Molecular Simulation Data Analysis with GPU parallelization.</p>
    <p>Now I mainly work on the backend: JAVA, Golang, AWS. I speak English, Russian, and Kyrgyz.</p>
</div><!--//summary-->
</section><!--//section-->
