<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">MS in Computer Science</h3>
                <div class="time">2014-2016</div>
            </div><!--//upper-row-->
            <div class="company">University of South Florida</div>
        </div><!--//meta-->
        <div class="details">
            <p>
              <a href="http://scholarcommons.usf.edu/etd/6448/" target="_blank">
                Thesis: Massive Parallelization of Push-based System for Molecular Simulation Data Analysis with GPU
              </a>
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">BS in Software Engineering</h3>
                <div class="time">2010-2014</div>
            </div><!--//upper-row-->
            <div class="company">American University Of Central Asia</div>
        </div><!--//meta-->
        <div class="details">
            <p><a href="http://barmaktar.appspot.com/">Thesis: Marketplace on Mobile Platform</a></p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Codepath Alumni</h3>
                <div class="time">2016</div>
            </div><!--//upper-row-->
            <div class="company"></div>
        </div><!--//meta-->
        <div class="details">
            <p>Android Development in Depth</p>
        </div><!--//details-->
    </div><!--//item-->


</section><!--//section-->
