 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">MS in Computer Science</h4>
    <h5 class="meta">University of South Florida</h5>
    <div class="time">2014 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BS in Software Engineering</h4>
    <h5 class="meta">American University Of Central Asia</h5>
    <div class="time">2010 - 2014</div>
</div><!--//item-->
</div><!--//education-container-->
