<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer III</h3>
                <div class="time">2017</div>
            </div><!--//upper-row-->
            <div class="company">Electronic Arts, Redwood City, CA</div>
        </div><!--//meta-->
        <div class="details">
            <p>Having fun!</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer II</h3>
                <div class="time">2016</div>
            </div><!--//upper-row-->
            <div class="company">Electronic Arts, Redwood City, CA</div>
        </div><!--//meta-->
        <div class="details">
            <p>EADP Social Cloud</p>
            <ul>
              <li>Social Recommendations, game groups, friendships, player relationships</li>
              <li>Cost management and infrastructure optimization</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

  <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">2015 - 2016</div>
            </div><!--//upper-row-->
            <div class="company">Samsung, Mountain View</div>
        </div><!--//meta-->
        <div class="details">
            <p>
              Agile customer facing services backend development for Samsung Customer Loyalty Program
              <ul>
                <li>Device models mapping and management</li>
                <li>Device Content Personalization</li>
              </ul>
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Graduate Research Assistant</h3>
                <!-- <div class="time">2014 - 2015</div> -->
            </div><!--//upper-row-->
            <div class="company">University of South Florida</div>
        </div><!--//meta-->
        <div class="details">
            <p><a href="http://scholarcommons.usf.edu/etd/6448/" target="_blank">Push-based System for Molecular Simulation Data Analysis.</a></p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Full Stack Software Engineer</h3>
                <div class="time">2013 - 2014</div>
            </div><!--//upper-row-->
            <div class="company">LocalOn, Bishkek (San Francisco based startup)</div>
        </div><!--//meta-->
        <div class="details">
            <p>Full stack development on GWT framework</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Other companies that I partner and work with.</h3>
                <div class="time">throughout the whole time</div>
            </div>
        </div><!--//meta-->
    </div><!--//item-->

</section><!--//section-->
