<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">2015 - 2016</div>
            </div><!--//upper-row-->
            <div class="company">Samsung, Mountain View</div>
        </div><!--//meta-->
        <div class="details">
            <p>Backend development for Samsung Plus app</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Graduate Research Assistant</h3>
                <div class="time">2014 - 2015</div>
            </div><!--//upper-row-->
            <div class="company">University of South Florida</div>
        </div><!--//meta-->
        <div class="details">
            <p>Push-based System for Molecular Simulation Data Analysis.</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Full Stack Developer</h3>
                <div class="time">2013 - 2014</div>
            </div><!--//upper-row-->
            <div class="company">LocalOn, Bishkek</div>
        </div><!--//meta-->
        <div class="details">
            <p>Full stack development on GWT framework</p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
