<section class="section summary-section">
  <h2 class="section-title"><i class="fa fa-home"></i>Where am I?</h2>
  <div class="summary">

    <p>It's important to ask this question once in a while (this is sarcastic and meant to be such).
    Right now you are on my personal website that I use to share a little about me.</p>

    <p>
      It may be as crucial for you to talk to me as it is crucial for me to hear from you. If you feel that way,
      <strong><a href = "mailto: ilakhmedov@gmail.com">drop me a note</a></strong>.
    </p>

  </div>
</section>

<section class="section notes-section">

<h4><i class="fa fa-feed"></i> Notes</h4>
<div class="notes">

  {% assign items = site.posts | sort: 'date' %}
  {% for post in items reversed %}
    <div class="item">
      <p><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} ({{ post.date | date: "%B %d, %Y" }})</a></p>
    </div>
  {% endfor %}

</div>
</section>
