<section class="section summary-section">
  <h2 class="section-title"><i class="fa fa-home"></i>Where am I?</h2>
  <div class="summary">

    I think, it's kind of important to ask this question yourself once in a while (this sentence has a bit of ironic joke). Right now you are on my personal
    website that I use to share about my interests.

  </div>
</section>

<section class="section summary-section">

<h2 class="section-title"><i class="fa fa-feed"></i>Latest Posts</h2>
<div class="summary">

  {% assign items = site.posts | sort: 'date' %}
  {% for post in items reversed %}
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
            </div>
            <div>{{ post.excerpt }}</div>
            <br />
            <div>Post date: {{ post.date | date: "%H:%M %B %d, %Y" }}</div>
        </div>
    </div>
  {% endfor %}

</div>
</section>
