<section class="section summary-section">
  <h2 class="section-title"><i class="fa fa-home"></i></h2>
  <div class="summary">

    <p>
      Hey, welcome! 👋

      <br/>
      <br/>

      My name is Iliiaz (E-li-yas), I am a software engineer based in Bay Area currently working at
      Cash.

      <br/>
      <br/>

      Before this I worked at Instagram, Electronic Arts, Samsung, and a few other companies.
      This is my blogging website still in an infant state.

      <br/>
      <br/>

      Besides my job I like reading, philosophy, and biking.

    </p>

  </div>
</section>

<section class="section notes-section">

  <h4><i class="fa fa-file-text-o"></i> Essays</h4>
  <div class="notes">

    {% assign items = site.posts | sort: 'date' %}
    {% for post in items reversed %}
    <div class="item">
      <ul>
        <li>
          <a href="{{ site.baseurl }}{{ post.url }}">
            <i> {{ post.title }} ({{ post.date | date: "%B %d, %Y" }}) </i>
          </a>
        </li>
      </ul>
    </div>
    {% endfor %}

  </div>
</section>
