<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-trophy"></i>Other</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Research in Massive Parallel Processing (GPU CUDA)</h3>
                <div class="time">2015</div>
            </div><!--//upper-row-->
            <div class="company">Computer Science and Engineering Department, University of South Florida</div>
        </div><!--//meta-->
        <div class="details">
            <p>Research for Parallelization of Push-based System for Molecular Simulation Database System</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Programming Challenges Team Captain</h3>
                <div class="time">2012-2014</div>
            </div><!--//upper-row-->
            <div class="company">American University of Central Asia</div>
        </div><!--//meta-->
        <div class="details">
            <p>Programming challenges and competitions within the school as well as througout the country</p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
