<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>Sometimes developers need more freedom and it comes out to either rock climbing or side projects where they can express more creativity and intelligence. This is why this section exists.</p>
    </div>
    <div class="item">
        <span class="project-title"><a href="https://play.google.com/store/apps/details?id=com.akipress.reporter&hl=en" target="_blank">Репортер</a></span> -
        <span class="project-tagline">An app in collaboration with a news agency <a href="http://akipress.org" target="_blank">AkiPress</a> for reporting and browsing news.</span>
    </div>
    <div class="item">
        <span class="project-title"><a href="https://play.google.com/store/apps/details?id=com.bazar" target="_blank">Базар</a></span> -
        <span class="project-tagline"><a href="https://bazarapp.info" >A mobile platform based marketplace</a></span>
    </div>
</section><!--//section-->
