<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>My past side projects</p>
    </div>
    <div class="item">
        <span class="project-title"><a href="https://play.google.com/store/apps/details?id=com.akipress.reporter&hl=en" target="_blank">Reporter Android App</a></span> -
        <span class="project-tagline">An app in collaboration with a news agency AkiPress for reporting and browsing news.</span>
    </div>
</section><!--//section-->
